.important {
    padding: 5rem;
  }
  .important > p {
    color: black;
    font-weight: 800;
    text-align: start;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    margin: 0.6rem auto;
    align-items: center;
  }
  .categories > span {
    font-size: 0.7rem;
    position: relative;
    /* top: 12px; */
    /* height: 6px; */
    /* line-height: .5; */
    cursor: pointer;
  }
  .categories > p {
    color: black;
    font-size: 0.7rem;
    font-weight: 800;
  }
 