.home-section{
    background: url(https://files.codingninjas.com/circut-9740.png) no-repeat top -180px right -320px,linear-gradient(#032d6b,#032d6b) 0 0/100% calc(100% - 190px) no-repeat,linear-gradient(to bottom left,#032d6b 50%,#faf7f2 50%) 0% 100%/50% 190px no-repeat,linear-gradient(to bottom right,#032d6b 50%,#faf7f2 50%) 100% 100%/50% 190px no-repeat;    /* background-size: auto; */
 max-height: 43rem;
 margin-bottom: 5rem;
}

.animation-grid-section{
    max-width: 1152px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.animation-grid-container{
    padding-bottom: 200px;
}
.animation-grid-content{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
.animation-grid-content-1{
    width: 20rem;
    text-align: left;
    margin-top: 2rem;
}
.animation-grid-content-1 div:first-child div:nth-child(1){
text-decoration: none;
color: rgb(211, 191, 191);
font-size: 1.9rem;
margin-bottom: -1rem;
font-weight: 600;   
 font-family:Helvetica,Arial,sans-serif;
 white-space: nowrap;
}
.animation-grid-content-1 div:first-child h1:nth-child(2){
   color: #ee9f15;
    font: 700 40px/52px Mulish,Roboto,Helvetica Neue,sans-serif;
    white-space: nowrap;
    font-weight: 500;

}
.animation-grid-content-1  div:nth-child(2){
    color: white;
    font: 400 20px/32px Mulish,Roboto,Helvetica Neue,sans-serif;
    white-space: nowrap;
}
.animation-grid-content-1  div:nth-child(3) button{
    color: white;
    font-size: 1.1rem;
    white-space: nowrap;
padding: .8rem 5rem;
margin: 2rem 0;
background-image: linear-gradient(90deg,#f96b24 0%,#ff9100 100%);
background-color: orange;
border: 0;
border-radius: 7px;
}

.animation-grid-content-1  div:nth-child(3) button:hover{
  background-image: linear-gradient(90deg ,#ff9100 0%,#f96b24 100%);
}

.typewrite > .wrap {
    border-right: 0.08em solid #fff;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    letter-spacing: .15em;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #fff;
    }
  }


.home-box-container{
    /* margin: 2rem; */
}
.home-box{
/* 
    position: relative;
    top: 24rem; */
    /* transform: translateY(24rem); */
    color: white;
    margin: -6rem auto 0 auto ;
    display: flex;
    flex-direction: column;
    max-width: 900px;
   
    padding: 1rem 2rem;
    background: linear-gradient(97.82deg,rgba(32,5,84,.2) 5.54%,rgba(31,21,94,.2) 98.35%),#0a2541;
    box-shadow: 0 12px 24px #3a3a4414, 0 24px 48px #5a5b6a14;
    border-radius: 8px;
    z-index: 1;
}
.home-box-content{
    display: flex;
    justify-content: space-around;
}
.home-box-content div:nth-child(1){
    display: flex;
    /* gap: 1rem; */
   text-align: left;
}
.home-box-content div:nth-child(2){
    display: flex;
    gap: 1rem;
    text-align: left;
}
.home-box-content div:nth-child(3){
    display: flex;
    gap: 1rem;
    text-align: left;
}
.section-title{
    /* position: relative;
    top: 24rem; */
    /* margin-top: 24rem; */
  color: #292a31;
  font-family: Helvetica,Arial,sans-serif;
    line-height: 42px;
    padding: 2rem;
    font-weight: 500;
    font-size: 32px;
}