.one-stop {
    background: rgb(247, 236, 236);
    padding: 1rem;
    padding-bottom: 4rem;
  }
  .one-stop > p {
    font-size: 1.2rem;
    color: black;
  }
  .feature-bar > nav {
    padding: 1rem;
    max-width: 70%;
    background-color: white;
    cursor: pointer;
    margin: 2rem auto;
  }
  .feature-bar > nav ul li:hover {
    color: rgb(255, 123, 0);
    text-decoration: underline;
  }