.navbar-section{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.navbar-container{
   color: grey;
   font-weight: 600;
}
.navbar-content{
    height: 57px;
    max-width: 1125px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    

}
.main-logo a img{
    width: 5rem;
}
.login-button{
   background-color: rgb(250, 226, 230);
    color: #f9601e;
    font-size: .9rem;
    height: 2.7rem;
    width: 6rem;
    border-radius: 9px;
    border: white;
    /* margin-right: -2.8rem; */
}
.login-button:hover{
    background-color: rgb(252, 185, 196);
}

.enrol-button{
   
    background-image: linear-gradient(90deg,#f96b24 0%,#ff9100 100%);
    color: white;
    font-size: .9rem;
    height: 3rem;
    width: 7rem;
    border-radius: 9px;
    border: white;
 
}
.enrol-button:hover{
    background-image: linear-gradient(90deg, #ff9100 0%,#f96b24 100%);
}
.small-navbar-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    max-width: 1125px;
}
@media (max-width:900px) {
    .navbar-content{
        display: none;
    }
}